<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-gray-400 text-xs" style="font-size: .5rem;">

    <div class="container  mt-2 bg-gray-100  font-mono  shadow-2xl rounded-lg p-1">
        Your KEYS <<-|->> PRI -> pub
    </div>
    <div class="flex min-w-min mx-auto">
        <div class="-space-x-2.5 m-2 overflow-hidden mt-2 bg-gray-100  font-mono  shadow-2xl rounded-lg p-1">
            {% for i in client.pri_key_s().decode('utf-8').splitlines() if i %}
            {{i}}<br>
            {% endfor %}
        </div>
        <div class="-space-x-2.5 overflow-hidden mx-auto mt-2 bg-gray-100  font-mono  shadow-2xl rounded-lg p-1 mb-2">
            {% for i in client.pub_key_s().decode('utf-8').splitlines() %}
            {{i}}<br>
            {% endfor %}
        </div>

    </div>
</body>

</html>